<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.cherrypick.android"
    android:versionCode="3"
    android:versionName="0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.cherrypick.android.MainActivity" />
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.cherrypick.android.MainActivity" />
        </activity>
        <activity
            android:name=".CardFlipActivity"
            android:label="@string/title_card_flip"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.cherrypick.android.MainActivity" />
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CardDetails"
            android:label="@string/sort_cards" >
        </activity>
        <activity
            android:name=".IntroScreenActivity"
            android:label="@string/title_activity_intro_screen"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CardListActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
